<p>ユーザー管理画面</p>

<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th>タスク数</th>
      <th>ユーザーid</th>
      <th>ユーザー名</th>
      <th>ユーザーemail</th>
      <th>作成日</th>
      <th>更新日</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %></div>
      <tr>
      <td><%= user.tasks.length %></td>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= l user.created_at %></td>
        <td><%= l user.updated_at %></td>
        <td><%= link_to 'Show', admin_user_path(user), class: "btn btn-outline-danger btn-sm", role: "button" %></td>
        <td><%= link_to 'Edit', edit_admin_user_path(user), class: "btn btn-outline-warning btn-sm", role: "button" %> %></td>
        <td><%= link_to 'Destroy', admin_user_path(user), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-info btn-sm", role: "button" %></td>
      </tr>
    <% end %>
  </tbody>

  <br>
</table>



