<p id="notice"><%= notice %></p>

<p>
    <strong>Show:</strong>
    <div id="tasks-show_task-note">
        <%= @task.note %>
    </div>
    <div id="tasks-show_task-note">
        <%= @task.name %>
    </div>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
